@layer global {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
    height: 100vh;
  }
}

@layer colors {
  :root {
    --c-white: hsl(0 100% 100%);
    --c-black: hsl(0 0% 0%);
    --c-grey-950: hsl(255 22% 4%);
    --c-grey-900: hsl(248 17% 9%);
    --c-grey-850: hsl(248 15% 11%);
    --c-grey-800: hsl(248 10% 15%);
    --c-grey-700: hsl(248 5% 34%);
    --c-grey-600: hsl(251 9% 53%);
    --c-grey-200: hsl(252 11% 91%);
    --c-green: hsl(127 100% 82%);
    --c-yellow: hsl(42 91% 68%);
    --c-orange: hsl(13 95% 66%);
    --c-red: hsl(0 91% 63%);
  }
}

@layer spacing { 
  :root {
    --spacing-100: 0.5rem; 
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-700: 3.5rem;
    --spacing-1000: 5rem;
    --spacing-1300: 6.5rem;
    --spacing-1600: 8rem;
    --spacing-2000: 10rem;
    --spacing-2200: 11rem;
    --spacing-2300: 11.5rem;
  }
}

/* Typography remove when done
  text preset 1 
    font size 32px
    line height 42px

  text preset 2
    font size 24px
    line height 32px

  text preset 3
    font size 18px
    line height 24px

  text preset 4
    font size 16px
    line height 20px
*/